<!DOCTYPE html>
<html lang="en">



<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heart Signal - Welcome to Heart Signal</title>


  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/modern-business.css" rel="stylesheet">

</head>

<body>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Gamja+Flower&family=Merriweather+Sans:ital,wght@1,700&family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR:wght@500&family=Pacifico&family=Patua+One&family=Sedgwick+Ave&display=swap');
</style>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <!--<img src="" alt="">    -->
    <!--    <img src="/static/img/hearsignal_logo.png" style="width:7%;height:7%;"/>-->
    <a style="font-family:Sedgwick Ave,cursive;" class="navbar-brand">Heart Signal</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Login with Google</a>
        </li>
        <!--          <li class="nav-item">-->
        <!--            <a class="nav-link" href="services.html">Services</a>-->
        <!--          </li>-->
        <!--          <li class="nav-item">-->
        <!--            <a class="nav-link" href="contact.html">Contact</a>-->
        <!--          </li>-->
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/static/img/heartsignal_app_5.png')">
        <div class="carousel-caption d-none d-md-block">
          <h3>하트시그널 어플</h3>
          <p>어플에서도 서비스를 이용할 수 있습니다.</p>
        </div>
      </div>
      <div class="carousel-item active" style="background-image: url('https://cdn.pixabay.com/photo/2016/11/27/21/42/stock-1863880_1280.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>실시간 심박수 진료</h3>
          <p>즉각적인 분석이 가능합니다</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
        <!--      <div class="carousel-item" style="background-image: url('/static/img/heartsignal_app_1.png')">-->
        <div class="carousel-caption d-none d-md-block">
          <h3>구글 로그인</h3>
          <p>보호자의 구글 계정으로만 정보를 볼 수 있습니다.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <!--      <div class="carousel-item" style="background-image: url('https://cdn.pixabay.com/photo/2014/08/05/10/30/iphone-410324_1280.jpg')">-->

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <h1 style="font-family:Merriweather Sans,sans-serif;" class="my-4">Information</h1>
  <!-- Marketing Icons Section -->
  <div style="font-family:Noto Sans KR, sans-serif;" class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h5 class="card-header">서비스 목적</h5>
        <div style= class="card-body">
          <p class="card-text"></p>
          <ul>
            <li>독거노인 수의 증가에 따른 고독사 비율의 증가를 감소시키기 위해</li>
            <li>심장박동수 등의 건강정보를 수시로 체크해 위급상황에 대처하기 위해</li>
            <li>보호자가 피보호자의 평소 상태를 실시간으로 확인할 수 있도록 도와줌</li>
            <li>보호시설에서 관리하는 독거노인과 보호자와 떨어져 사는 피보호자를 위해서 활용 가능</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h5 class="card-header">Why wearable</h5>
        <div class="card-body">
          <p class="card-text"></p>
          <ul>
            <li>피보호자가 착용만 하고 있으면 쉽게 데이터를 얻을 수 있다.</li>
            <li>피보호자가 따로 조작을 하지 않아도 된다.</li>
            <li>핸드폰과의 연동으로 보호자도 쉽게 정보를 볼 수 있다.</li>
            <li>착용자 스스로 자기의 상태를 확인할 수 있다.</li>
            <li>웨어러블 기기가 의료용 모니터링 단말기로도 사용된다.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h5 class="card-header">심박수 관련 질병, 이상증상</h5>
        <div class="card-body">
          <p class="card-text">
          <div style="float: left; width: 50%;">
            <ul>
              <li>협심증</li>
              <li>심근경색</li>
              <li>동맥경화증</li>
              <li>심장판막증</li>
              <li>심부전</li>
              <li>심장비대</li>
            </ul>
          </div>
          <div style="float: right; width: 50%;">
            <ul>
              <li>저혈압</li>
              <li>심실세동</li>
              <li>부정맥</li>
              <li>심낭염</li>
              <li>심내막염</li>
            </ul>
          </div>
          </p>
        </div>
        <div class="card-footer">
          <div align="right">
            <a href="https://seoulmc.or.kr/pms/contents/contents.do?contseqn=371&decorator=pmsweb&menucdv=01020404" class="btn btn-primary">자세히 보기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <h2 style="font-family:Merriweather Sans,sans-serif;">Services</h2>
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <!--        <a href="#"><img class="card-img-top" src="https://i1.wp.com/www.yoonsupchoi.com/wp-content/uploads/2017/10/cardio-main2.png?fit=1000%2C501&ssl=1" alt=""></a>-->
        <!--        <a href="#"><img class="card-img-top" src="https://media.istockphoto.com/photos/doctor-drawing-ecg-heartbeat-chart-picture-id902905418?b=1&k=6&m=902905418&s=170667a&w=0&h=_GZkUNY0gtfETlztljZBFxL8BHt9WJNUjLhLEQB0SkI=" alt=""></a>-->
        <a href="#"><img class="card-img-top" src="/static/img/heartmonitor.png" alt=""></a>
        <div style="font-family:Noto Sans KR, sans-serif;" class="card-body">
          <h3 class="card-title">
            <a>심박수 패턴 분석</a>
          </h3>
          <p class="card-text"></p>
          <ul>
            <li>RMSSD를 이용해 심박수를 측정한다.</li>
            <oi> -서로 인접한 RR간격의 차이에 대한 제곱의 합을 평균하여 이를 제곱근으로 표현한 것</oi>
            <li>단기간 심박변이 성분을 낼 수 있다.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <!--        <a href="#"><img class="card-img-top" src="https://image.zdnet.co.kr/2017/02/16/imc_AVP6ctBw7GsGD82W.jpg" alt=""></a>-->
        <a href="#"><img class="card-img-top" src="/static/img/map.png" alt=""></a>
        <div style="font-family:Noto Sans KR, sans-serif;" class="card-body">
          <h3 class="card-title">
            <a>위치정보</a>
          </h3>
          <p class="card-text">
          <ul>
            <li>피보호자의 위치정보를 실시간으로 받는다.</li>
            <li>현재 위치를 통해 가까운 병원이나 빠른 신고를 할 수 있다.</li>
            <li>위치 파악이 어려울 때에도 이 정보를 통해 빠르게 피보호자를 찾아낸다.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <!--        <a href="#"><img class="card-img-top" src="https://t13.pimg.jp/047/349/113/1/47349113.jpg" alt=""></a>-->
        <a href="#"><img class="card-img-top" src="/static/img/emergency.png" alt=""></a>
        <div style="font-family:Noto Sans KR, sans-serif;" class="card-body">
          <h3 class="card-title">
            <a>긴급상황의 기준</a>
          </h3>
          <p class="card-text"></p>
          <ul>
            <li>심박수가 비정상적으로 증가할 때</li>
            <li>심박수 값이 '0'일때</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div style="font-family:Noto Sans KR, sans-serif;" class="col-lg-6">
      <!--      <h2>관련 프로그램</h2>-->
      <h2 style="font-family:Merriweather Sans,sans-serif;">Related Technology, Framework OS</h2>
      <li style="font-family:Noto Sans KR, sans-serif;">Server
        <ul>
          <li>Spring webflux</li>
        </ul>
      </li>
      <li style="font-family:Noto Sans KR, sans-serif;">Frontend
        <ul>
          <li>Tizen</li>
          <li>Android</li>
        </ul>
      </li>
      <li style="font-family:Noto Sans KR, sans-serif;">Communication form
        <ul>
          <li>Ajax</li>
          <li>json</li>
        </ul>
      </li>

      <h2 style="font-family:Merriweather Sans,sans-serif;">Purpose</h2>
      <p style="font-family:Noto Sans KR, sans-serif;">본 프로젝트는 상명대학교 졸업 프로젝트로서 시작되었으며, 독거노인의 수가 증가하는 현실로 인해 고독사 비율 증가를 문제로 두고 있다. 따로 생활하는 가구가 많기 때문에 바로 옆에서 지켜보지 못 하고 대처를 할 수 없기 때문에 실시간으로 피보호자의 정보를 확인해 고독사를 예방하자는 취지로 만들게 되었다.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="/static/img/developers.jpg" alt="">
    </div>
  </div>
  <!-- /.row -->
  <hr>

</div>
<!-- /.container -->

<!-- Footer -->

<footer class="py-5 bg-dark">
  <div class="container">
    <p style="font-family:Gamja Flower,cursive;" class="m-0 text-center text-white">Copyright © 두근두근</p>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>